@import '../abstract/variables';
@import '../components/_media-queries';

.navigation {
    display: flex;
    width: 1296px;
    height: 64px;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 64px;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    width: 159px;
    height: 40px;
    top: 76px;
    left: 72px;
    margin-right: 293px;

    img {
        width: 159px;
        height: 40px;
    }
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 392px;
    height: 24px;
    left: 524px;
    top: 84px;

    ul {
        display: flex;
        width: 392px;
        height: 24px;
        list-style: none;
        justify-content: space-between;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;

        li:nth-child(1) {
            color: $secondary-color;
        }

        li {
            color: $grey-text;
        }
    }


}

.button {
    width: 180px;
    height: 64px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: $primary-color;
    border-radius: 10px;
}